@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    @apply flex flex-wrap py-5 px-3
}
.btn{
    @apply text-white bg-emerald-400 px-4 py-2 rounded-lg w-full my-2
}
.products .btn{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.products:hover .btn{
    opacity: 1;
    transform: translateY(0);
}
.my{
  margin-top: 20%;
}

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }